body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    font-size: 13px;
    background-color: #f5f5f5;
}

h5 {
    margin: 0;
}

form {
    margin:0;
}

.content {
}

.sidebar {
    background-color: #dceaf4;
}

.question-summary {
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px #888;
}

.vote {
    text-align: center;
    background-color: #eee;
}

.summary {
    margin-left: 65px;
    overflow: hidden;
}

.excerpt {
    margin-bottom: 8px;
}
#question-list {
    display: block;
}

.tags a {
    background-color: #E0EAF1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    line-height: 2.4;
    white-space: nowrap;
}

.question, .answer, .edit-answer {
    position: relative;
    margin-bottom: 30px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 5px #888;
}

.post {
    margin-left: 60px;
    overflow: auto;
}

.post textarea.markdown {
    width: 98.4%;
}

.post-menu a {
    background-color: #e5e5e5;
    padding: 1px;
    color: gray;
}

.vote strong {
    padding-left: 20px;
    padding-right: 20px;
}

code[class]:after {
    content: 'highlight: ' attr(class);
    display: block;
    text-align: right;
    font-size: smaller;
    color: #CCC;
    border-top: solid 1px;
    padding-top: 0.5em;
}

code {
    display: block;
    padding: 0;
    margin: 0;
    background: #F0F0F0;
}

pre {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-style: none;
}

.preview {
    width: 100%;
    overflow: auto;
    background-color: white;
    margin-bottom: 10px;
}

.editor {
    width: 98.4%;
}

.edit-pane {
    height: 300px;
    margin-bottom: 10px;
}

.preview li {
    list-style-type: square;
}


/* override */
.pagination {
    margin: 0;
}
#question-page h1 {
    margin: 0;
}

textarea, pre, code {
    border-radius: 0;
    font-family: Source Code Pro, Monaco, Menlo, Consolas, "Courier New", monospace;
}

.top-right {
    top: 10px;
    right: 10px;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    opacity: 0.3;
}
.top-right:hover {
    opacity: 0.8;
}
.btn, .label, input[type="text"], textarea {
    border-radius: 0px;
}

